<div class="container-fluid">
	<div class="row">
		<h1><%= @user.name %>'s Account Page</h1>
	</div>

	<div class="row">
		<div class="col-md-2" id="survey-results">
			<h2>View Stats</h2>
			<%= erb :'users/_survey_stats_nav', :locals => {surveys: @user.surveys} %>
		</div>
		<div class="col-md-7" id="survey-container">
			<h2>Survey Statistics</h2>
			<% if @user.surveys %>
				<%= erb :'users/_survey_statistics', :locals => {survey: @user.surveys.first} %>
			<% else %>
				<%= erb :'users/_no_surveys' %>
			<% end %>
		</div>
		<div class="col-md-3" id="take-surveys">
			<%= erb :'users/_browse_surveys', :locals => {surveys: @all_surveys} %>
		</div>
	</div>
</div>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src='/javascripts/graphs.js'></script>