<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' type='text/css' />
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css' />
  <link rel='stylesheet' href='/stylesheets/application.css' type='text/css' />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <title><%= @title || "Survey Gorilla" %></title>
</head>
<body>
  <%= erb :_navbar, :locals => {session_user: session[:user_id]} %>
  <%= yield %>

  <div class="modal fade" id="login-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
          <%= erb :'auth/login' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signup-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <%= erb :'auth/signup' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="create-survey-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create Survey</h4>
        </div>
        <div class="modal-body">
          <%= erb :'surveys/survey_partial' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src='/javascripts/application.js'></script>
  <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
</body>
</html>
